.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "razer";
    src: url("../fonts/RazerF5.woff") format('woff');
}
@font-face {
    font-family: "razer-light";
    src: url("../fonts/RazerF5Thin.woff") format('woff');
}
  
.footer {

    position: absolute;
    background-color: #111111;
    
   height: 410px;
   width: 100%;
   z-index: 100;
}


.box{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.container{
    position: absolute;
    width: 1200px;
    height: 400px;
    left: 50%;
    transform: translate(-50%);
    
    
}


.footer-lopo-1{
    padding-top: 15px;
    width: 28px;
    height: 28px;
}


.footer-lopo{
 
    width: 28px;
    height: 28px;
}

.li-head{
    font-family: "Roboto";
    font-size: 12px;
    color: white;

}
.grey-a{
    font-family: "Roboto";
    font-size: 12px;
    color: #999999;
    
}


.box2{
    position: relative;
    right: 53px;
}

.box3{
    position: relative;
    right: 65px;
}

.box4{
    position: relative;
    right: 128px;
}

.box5{
    position: relative;
    right: 133px;
}

.box6{
    position: relative;
    right: 29px;
}

.icons{
    li{
        padding: 0px;
    }
}


ul {
    padding: 0;
    list-style-type:none;
}

li{
    padding-bottom: 12px;
}

a{
    text-decoration: none;
}


.diff-li{
    font-size: 15.5px;
    font-family: 'razer';
    color: #44d62c;
}



.thin-line{
    width: 1170px;
    height: 1px;
    background-color: #555;
}

.final-row{
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1170;
}

.ul-flex{
    right: 173px;
    position: relative;
    align-content: center;
    align-items: center;
    margin: 0px;
    display: flex;
    li{
        padding-left: 7px;
        padding-right: 7px;
    }
    
}

.part{
    position: relative;
    right: 30px;
}

.li-head-icon{
    padding-top: 10px;
}
